.contact-container{
  padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 4 / span 5;
    max-width: 100%;
}

.contact-title{
  padding-left: 60px;
  padding-bottom: 40px;
}

@media (max-width: 677px) {
  .contact-container{
    grid-column: 1 / span 10;
  }
}



