.App {
  text-align: center;
  max-width: 100%;
  background: linear-gradient(to bottom, #262626, #434343);
}

h1 {
  color: #e0f6fc;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}


p {
  color: #e0f6fc;
  font-family: "Anta", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

a {
    color: #80d9ef;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}